.buttonWrapper {
  padding-top: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  margin: 1%;
}

.algoButton {
  margin: 1%;
}

.algorithmInfo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.caseStudy {
  display: grid;
}

.caseStudyHeaders {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 0px;
  margin: 10px;
}

.legend { 
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0%;
}

.legend li { 
  float: left; 
  margin-right: 10px; 
  list-style: none;
}

.legend span { 
  border: 1px solid white; 
  float: left; 
  width: 20px; 
  height: 20px; 
  margin: 5px; 
}

.legend .leftPointerGraphic { 
  background-color: red; 
}

.legend .subarray {
  background-color: red; 
}

.legend .rightPointerGraphic { 
  background-color: blue; 
}

.legend .pivotGraphic {
  background-color: green;
}

.legend .sorted {
  background-color: orange;
}

.timeSpaceComplexity {
  padding: 3px;
}

.footer {
  font-size: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}